/yarn-error.log*
/yarn-debug.log*
/tsconfig.tsbuildinfo
/public/build
/out/
/npm-debug.log*
/node_modules
/coverage
/build
/.vercel
/.pnpm-debug.log*
/.pnp.js
/.pnp
/.next/
/.netlify
/.env*.local
/.env
/.cache
/_next/
*.pem
.DS_Store
