.heading {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  text-transform: uppercase;
  color: inherit;
  margin-top: 0;
}
.paragraph {
  font-size: 16px;
  line-height: 170%;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
  color: var(--color-text-icon-text-100);
}

.section {
  border-left: 2px solid;
  padding-left: 32px;
  margin-bottom: 96px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
}
.InfoImage {
  /* width: 100%; */
  margin: 88px auto;
}
.InfoImageContainer {
  background-color: var(--howitworks-primary);
  width: 100%;
  margin: 48px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.InfoImageContainer + p {
  margin-top: 88px;
}

.Infolist {
  margin-top: 32px;
  /* padding: 0; */
  padding-left: 16px;
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--color-text-icon-text-100);
}
.InfoListItem {
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 8px;
}
